.cabecalho{
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    background-color: #2d5377;
    color: #fff;
}

.cabecalho_logo{
    padding: 1.5em 0;
    width: 14.5em;
}

.cabecalho_menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #272b3a87;
}

.cabecalho_item-menu {
    display: inline-block;
}

.cabecalho_item-menu a {
    display: inline-block;
    padding: 1.83em 1.42em;
}
@media(min-width:640px){
.cabecalho{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cabecalho_logo{
    padding: 2.5em 0;
}

.cabecalho_menu{
    background-color: transparent;
}

}