.rodape {
    padding: 2em 5%;
    text-align: center;
    font-size: 0.7rem;
}

.rodape_logo {
    width: 11.25em;
    margin-bottom: 1em;
}

.rodape_lista-midias-sociais {
    display: flex;
    justify-content: center;
}

.rodape_infos-empresa {
    line-height: 1.5;
}

.rodape_secao {
    margin-top: 2em;
}

.rodape_lista-midias-sociais {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.rodape_item-midias-sociais {
    width: 2.62em;
    margin: 0.25em;
}

.rodape_item-midias-sociais img {
    width: 100%;
}

.rodape_titulo {
    margin-bottom: 1em;
    font-size: 1.45em;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape_item-lista {
    font-weight: 500;
    margin: 0.625em 0;
}